In [15]:
#load utility libraries
from sklearn.datasets import load_iris
import pandas as pd
from sklearn.tree.export import export_text
from sklearn.preprocessing import LabelEncoder

#load ML libraries
from id3 import Id3Estimator
from sklearn.tree import DecisionTreeClassifier

## Membaca Data

In [19]:
#read play-tennis data
tennis_data = pd.read_csv("data/play_tennis.csv")
tennis_data.drop('day', axis=1, inplace=True)

#read iris data
data, target = load_iris(return_X_y=True)
iris_data = pd.DataFrame(data, columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
iris_data['label'] = pd.Series(target)

In [31]:
#overview tennis data
tennis_data

    outlook  temp  humidity  wind  play
0         2     1         0     1     0
1         2     1         0     0     0
2         0     1         0     1     1
3         1     2         0     1     1
4         1     0         1     1     1
5         1     0         1     0     0
6         0     0         1     0     1
7         2     2         0     1     0
8         2     0         1     1     1
9         1     2         1     1     1
10        2     2         1     0     1
11        0     2         0     0     1
12        0     1         1     1     1
13        1     2         0     0     0

In [29]:
#label-encode tennis data
encoder = LabelEncoder()
tennis_data = tennis_data.apply(encoder.fit_transform)
tennis_data

    outlook  temp  humidity  wind  play
0         2     1         0     1     0
1         2     1         0     0     0
2         0     1         0     1     1
3         1     2         0     1     1
4         1     0         1     1     1
5         1     0         1     0     0
6         0     0         1     0     1
7         2     2         0     1     0
8         2     0         1     1     1
9         1     2         1     1     1
10        2     2         1     0     1
11        0     2         0     0     1
12        0     1         1     1     1
13        1     2         0     0     0

In [32]:
#overview iris data
i

## Fitting Data dengan Algoritma _Machine Learning_

### 1. Iris Data

   - #### Fitting with ID3

   - #### Fitting with DTL

### 2. Tennis Data

   - #### Fitting with ID3

   - #### Fitting with DTL