In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
data = pd.read_csv("play_tennis.csv")
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [3]:
#hitung entropi total dataset
def total_entropy(data):
    proportion = data['aktivitas'].value_counts()/len(data)
    entropy = 0
    for p in proportion.tolist():
        entropy -= p*math.log(p,2)
    return entropy

#hitung information gain dari suatu kolom
def gain(data, kolom):
    data_entropy = total_entropy(data)
    print('KOLOM:', kolom.upper())
    print('total entropy of current data', '=',data_entropy)
    proportion_kolom = data[kolom].value_counts()/len(data)
    sum_entropy_kolom = 0
    for value_kolom, value_proportion in zip(proportion_kolom.index.tolist(), proportion_kolom.tolist()):
        entropy_value_kolom = total_entropy(data[data[kolom] == value_kolom])
        sum_entropy_kolom -= value_proportion*entropy_value_kolom
        print('value entropy kolom for', kolom, ':', value_kolom, ':', value_proportion, '=', entropy_value_kolom )
    print('sum entropy kolom for', kolom, '=', sum_entropy_kolom)
    return data_entropy + sum_entropy_kolom

#get current_data
def get_node_data(data, kolom, value):
    new_data = data[data[kolom] == value]
    return new_data.drop(kolom, axis=1)

#get current_columns
def get_current_columns(data):
    return data.drop('aktivitas', axis=1).columns

### Iterasi 1

In [4]:
current_data = data
current_gains = []
for kolom in get_current_columns(current_data):
    gain_kolom = gain(current_data, kolom)
    print("gain", kolom, ":", gain_kolom)
    current_gains.append([kolom, gain_kolom])
current_gains = pd.Series([x[1] for x in current_gains], index=[x[0] for x in current_gains])
print('GAINS\n', current_gains)
print('AKTIVITAS TERKAIT', current_data['aktivitas'].value_counts().index.tolist())

KOLOM: DEADLINE
total entropy of current data = 1.6854752972273346
value entropy kolom for deadline : dekat : 0.4 = 1.5
value entropy kolom for deadline : urgent : 0.3 = 0.9182958340544896
value entropy kolom for deadline : tidak ada : 0.3 = 0.9182958340544896
sum entropy kolom for deadline = -1.1509775004326936
gain deadline : 0.5344977967946409
KOLOM: ADA HANGOUT
total entropy of current data = 1.6854752972273346
value entropy kolom for ada hangout : tidak : 0.5 = 1.3709505944546687
value entropy kolom for ada hangout : ya : 0.5 = 0.0
sum entropy kolom for ada hangout = -0.6854752972273344
gain ada hangout : 1.0000000000000002
KOLOM: MALAS
total entropy of current data = 1.6854752972273346
value entropy kolom for malas : ya : 0.6 = 1.7924812503605778
value entropy kolom for malas : tidak : 0.4 = 1.0
sum entropy kolom for malas = -1.4754887502163467
gain malas : 0.20998654701098785
GAINS
 deadline       0.534498
ada hangout    1.000000
malas          0.209987
dtype: float64
AKTIVITAS TERKAIT ['kumpul2', 'belajar', 'jalan2', 'nonton']

In [5]:
current_data

    deadline ada hangout  malas aktivitas
0     urgent          ya     ya   kumpul2
1     urgent       tidak     ya   belajar
2      dekat          ya     ya   kumpul2
3  tidak ada          ya  tidak   kumpul2
4  tidak ada       tidak     ya    jalan2
5  tidak ada          ya  tidak   kumpul2
6      dekat       tidak  tidak   belajar
7      dekat       tidak     ya    nonton
8      dekat          ya     ya   kumpul2
9     urgent       tidak  tidak   belajar

#### Root = Ada Hangout

### Iterasi 2

#### ada hangout = ya

In [6]:
current_data = get_node_data(data, 'ada hangout', 'ya')
current_gains = []
for kolom in get_current_columns(current_data):
    gain_kolom = gain(current_data, kolom)
    print("gain", kolom, ":", gain_kolom)
    current_gains.append([kolom, gain_kolom])
current_gains = pd.Series([x[1] for x in current_gains], index=[x[0] for x in current_gains])
print('GAINS\n', current_gains)
print('AKTIVITAS TERKAIT', current_data['aktivitas'].value_counts().index.tolist())

KOLOM: DEADLINE
total entropy of current data = 0.0
value entropy kolom for deadline : tidak ada : 0.4 = 0.0
value entropy kolom for deadline : dekat : 0.4 = 0.0
value entropy kolom for deadline : urgent : 0.2 = 0.0
sum entropy kolom for deadline = 0.0
gain deadline : 0.0
KOLOM: MALAS
total entropy of current data = 0.0
value entropy kolom for malas : ya : 0.6 = 0.0
value entropy kolom for malas : tidak : 0.4 = 0.0
sum entropy kolom for malas = 0.0
gain malas : 0.0
GAINS
 deadline    0.0
malas       0.0
dtype: float64
AKTIVITAS TERKAIT ['kumpul2']

In [7]:
current_data

    deadline  malas aktivitas
0     urgent     ya   kumpul2
2      dekat     ya   kumpul2
3  tidak ada  tidak   kumpul2
5  tidak ada  tidak   kumpul2
8      dekat     ya   kumpul2

#### ada hangout = tidak

In [8]:
current_data = get_node_data(data, 'ada hangout', 'tidak')
current_gains = []
for kolom in get_current_columns(current_data):
    gain_kolom = gain(current_data, kolom)
    print("gain", kolom, ":", gain_kolom)
    current_gains.append([kolom, gain_kolom])
current_gains = pd.Series([x[1] for x in current_gains], index=[x[0] for x in current_gains])
print('GAINS\n', current_gains)
print('AKTIVITAS TERKAIT', current_data['aktivitas'].value_counts().index.tolist())

KOLOM: DEADLINE
total entropy of current data = 1.3709505944546687
value entropy kolom for deadline : urgent : 0.4 = 0.0
value entropy kolom for deadline : dekat : 0.4 = 1.0
value entropy kolom for deadline : tidak ada : 0.2 = 0.0
sum entropy kolom for deadline = -0.4
gain deadline : 0.9709505944546687
KOLOM: MALAS
total entropy of current data = 1.3709505944546687
value entropy kolom for malas : ya : 0.6 = 1.584962500721156
value entropy kolom for malas : tidak : 0.4 = 0.0
sum entropy kolom for malas = -0.9509775004326936
gain malas : 0.41997309402197514
GAINS
 deadline    0.970951
malas       0.419973
dtype: float64
AKTIVITAS TERKAIT ['belajar', 'jalan2', 'nonton']

In [9]:
current_data

    deadline  malas aktivitas
1     urgent     ya   belajar
4  tidak ada     ya    jalan2
6      dekat  tidak   belajar
7      dekat     ya    nonton
9     urgent  tidak   belajar

### Iterasi 3

#### ada hangout = tidak ^ deadline = urgent

In [10]:
current_data = get_node_data(get_node_data(data, 'ada hangout', 'tidak'), 'deadline', 'urgent')
current_gains = []
for kolom in get_current_columns(current_data):
    gain_kolom = gain(current_data, kolom)
    print("gain", kolom, ":", gain_kolom)
    current_gains.append([kolom, gain_kolom])
current_gains = pd.Series([x[1] for x in current_gains], index=[x[0] for x in current_gains])
print('GAINS\n', current_gains)
print('AKTIVITAS TERKAIT', current_data['aktivitas'].value_counts().index.tolist())

KOLOM: MALAS
total entropy of current data = 0.0
value entropy kolom for malas : tidak : 0.5 = 0.0
value entropy kolom for malas : ya : 0.5 = 0.0
sum entropy kolom for malas = 0.0
gain malas : 0.0
GAINS
 malas    0.0
dtype: float64
AKTIVITAS TERKAIT ['belajar']

In [11]:
current_data

   malas aktivitas
1     ya   belajar
9  tidak   belajar

#### ada hangout = tidak ^ deadline = dekat

In [12]:
current_data = get_node_data(get_node_data(data, 'ada hangout', 'tidak'), 'deadline', 'dekat')
current_gains = []
for kolom in get_current_columns(current_data):
    gain_kolom = gain(current_data, kolom)
    print("gain", kolom, ":", gain_kolom)
    current_gains.append([kolom, gain_kolom])
current_gains = pd.Series([x[1] for x in current_gains], index=[x[0] for x in current_gains])
print('GAINS\n', current_gains)
print('AKTIVITAS TERKAIT', current_data['aktivitas'].value_counts().index.tolist())

KOLOM: MALAS
total entropy of current data = 1.0
value entropy kolom for malas : tidak : 0.5 = 0.0
value entropy kolom for malas : ya : 0.5 = 0.0
sum entropy kolom for malas = 0.0
gain malas : 1.0
GAINS
 malas    1.0
dtype: float64
AKTIVITAS TERKAIT ['belajar', 'nonton']

In [13]:
current_data

   malas aktivitas
6  tidak   belajar
7     ya    nonton

#### ada hangout = tidak ^ deadline = tidak ada

In [14]:
current_data = get_node_data(get_node_data(data, 'ada hangout', 'tidak'), 'deadline', 'tidak ada')
current_gains = []
for kolom in get_current_columns(current_data):
    gain_kolom = gain(current_data, kolom)
    print("gain", kolom, ":", gain_kolom)
    current_gains.append([kolom, gain_kolom])
current_gains = pd.Series([x[1] for x in current_gains], index=[x[0] for x in current_gains])
print('GAINS\n', current_gains)
print('AKTIVITAS TERKAIT', current_data['aktivitas'].value_counts().index.tolist())

KOLOM: MALAS
total entropy of current data = 0.0
value entropy kolom for malas : ya : 1.0 = 0.0
sum entropy kolom for malas = 0.0
gain malas : 0.0
GAINS
 malas    0.0
dtype: float64
AKTIVITAS TERKAIT ['jalan2']

In [15]:
current_data

  malas aktivitas
4    ya    jalan2

### Iterasi 4

#### ada hangout = tidak ^ deadline = dekat ^ malas = tidak

In [16]:
current_data = get_node_data(get_node_data(get_node_data(data, 'ada hangout', 'tidak'), 'deadline', 'dekat'), 'malas', 'tidak')
current_gains = []
for kolom in get_current_columns(current_data):
    gain_kolom = gain(current_data, kolom)
    print("gain", kolom, ":", gain_kolom)
    current_gains.append([kolom, gain_kolom])
current_gains = pd.Series([x[1] for x in current_gains], index=[x[0] for x in current_gains])
print('GAINS\n', current_gains)
print('AKTIVITAS TERKAIT', current_data['aktivitas'].value_counts().index.tolist())

GAINS
 Series([], dtype: float64)
AKTIVITAS TERKAIT ['belajar']

In [17]:
current_data

  aktivitas
6   belajar

#### ada hangout = tidak ^ deadline = dekat ^ malas = ya

In [18]:
current_data = get_node_data(get_node_data(get_node_data(data, 'ada hangout', 'tidak'), 'deadline', 'dekat'), 'malas', 'ya')
current_gains = []
for kolom in get_current_columns(current_data):
    gain_kolom = gain(current_data, kolom)
    print("gain", kolom, ":", gain_kolom)
    current_gains.append([kolom, gain_kolom])
current_gains = pd.Series([x[1] for x in current_gains], index=[x[0] for x in current_gains])
print('GAINS\n', current_gains)
print('AKTIVITAS TERKAIT', current_data['aktivitas'].value_counts().index.tolist())

GAINS
 Series([], dtype: float64)
AKTIVITAS TERKAIT ['nonton']

In [19]:
current_data

  aktivitas
7    nonton